<% provide :title, "Feedback" %>
<h1 class="subtitle is-2"> Have something you want to see?</h1>
<p>
  Have an idea how we can make this better? Just want to tell us how you use DnnrPckr? Drop us a note!
</p>
