<% provide :title, "Home" %>

<h1 class="title is-1">Welcome to DnnrPckr</h1>
<h3 class="subtitle is-3">the way to easier meal planning </h3>
<%= image_tag "group-of-people-making-toast-3184183.jpg" %>
<br/>
<br/>
<br/>
<h4 class="subtitle is-5">
DnnrPckr saves time by keeping track of what you want and suggesting meals to break the monotony.
</h4>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
    <%= link_to('Click here to spice up your meal planning!', new_user_registration_path) %>
      </h1>
    </div>
  </div>
</section>
<br/>
<h4 class="subtitle is-5">
Let DnnrPckr make dinner planning easier!
</h4>
