<% provide :title, "What's New!" %>
<h2 class="subtitle is-2"> What's New!</h2>
<div class="box">
  <h4 class="title is-4"> 2020-10-30.2: Add Link to Meal on Suggested Meals</h4>
  <p>
  Added a links for suggested meals on the homepage thanks to feedback.
  </p>
</div>

<div class="box">
  <h4 class="title is-4"> 2020-10-30 : Sorting Shopping Lists by Meal</h4>
  <p>
  We've added a new "sort by" to the top of the shopping list that allows the shopping list to toggle between sort by item category or a sory by meal. This makes it easier to see the all ingredients needed for a meal.
  </p>
</div>

<div class="box">
  <h4 class="title is-4"> 2020-10-28 : Show/Hide Snoozed Items</h4>
  <p>
  To make it easier to see all your items there is a new button that allows you to see your snoozed items. That way if you don't need to reset your snoozed items if you want to double check them.
  </p>
</div>

<div class="box">
  <h4 class="title is-4"> 2020-10-27 : Link All the Things </h4>
  <p>
  We've made it easier to get to the meals and ingredients from the shopping list. This is helpful for items that aren't categorized correctly or a meal that's missing ingredients. This update also cleans up the shopping list header to even out the spacing between things.
  </p>
</div>

<div class="box">
  <h4 class="title is-4"> 2020-10-26 : Default Ingredient Ordering By Name</h4>
  <p>
  This is a simple fix to change the ordering of the items on the igredients index. Instead of ordering by id, which wasn't that helpful, the list is ordered by the ingredient name.
  </p>
</div>

<div class="box">
  <h4 class="title is-4"> 2020-10-22 : Update Item Snoozing</h4>
  <p>
  This update provides some much needed tweaking to get snoozing working better.
  </p>
</div>

<h3 class="subtitle is-3"> Upcoming plans </h3>
<ul class="actual_list">
  <li>Feedback form improvements.</li>
  <li>Delete past acquired shopping items on shopping list update.</li>
  <li> Clean up the ingredient pages </li>
  <li> Clean up the meal pages </li>
  <li> Meal swap functionality </li>
  <li> Job to clear old suggestions </li>
  <li> Enhance Meal Suggestion Logic </li>
  <li> Meal pictures </li>
</ul>
