<%= component_controller do %>
  <div>
    <h1 class="title is-2">Ingredients</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
            <td><%=ingredient.name%></td>
            <td><%= reflex_tag :remove_ingredient, :button, "Remove Ingredient" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
