<p>
  <p class="label">Ingredients</span>
  <table class="table mt-3">
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%=ingredient.name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
