<%= component_controller do %> 
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <label class="checkbox">
          <%= reflex_tag :toggle_item, :input, nil, type: "checkbox", checked: @shopping_list_item.acquired%>
        </label>
      </div>

      <div class="level-item">
        <% if @shopping_list_item.ingredient %>
          <%=@shopping_list_item.ingredient.name%>
        <% else %>
          <%=@shopping_list_item.scheduled_meal.meal.name%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
