<%= component_controller do %> 
  <div class="shopping-list-details">
    <%=render(ShoppingListItemComponent.with_collection(@shopping_list_items.all)) %>
  </div>
  <% if @shopping_list_items.any? %>
  <hr/>
  <% end %>
  <h2 class="subtitle">Add other items</h2>
  <div class="field has-addons">
    <p class="control">
    <input data-autocomplete-source="/ingredients" type="text" name="ingredient" id="ingredient" class="input">
    </p>
    <p class="control">
    <a href="#" id="add-ingredient-button"
                class="button is-primary"
                data-reflex="click->ShoppingListDetailsComponent#add_ingredient"
                data-ingredient_id=""
                data-ingredient_term=""
                data-key=<%= key %>
              > Add </a>
    </p>
  </div>
<% end %>
