<%= component_controller do %> 
This is inside the component.</br></br>
There are <%= @widget_count %> widgets.</br>
<a href="#" class="button is-link is-small" id="test_widget_button"
            data-reflex="click->TestComponent#add"
            data-count="<%= @count.to_i %>"
            data-key=<%= key %>>
  Add widget
</a>
<p id="test_id"></p>
<% end %>
