<h2 class="subtitle">Editing Scheduled Meal</h2>

<div>Date: <%= @scheduled_meal.date %></div>

<div>
<%= render "form" %>
</div>

<%= link_to 'Show', @scheduled_meal %> |
<%= link_to 'Back', scheduled_meals_path %>
