<p>
  <strong>Meal:</strong>
  <%= @scheduled_meal.meal.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @scheduled_meal.date %>
</p>

<%= link_to 'Edit', edit_scheduled_meal_path(@scheduled_meal) %> |
<%= link_to 'Back', scheduled_meals_path %>
