<h1>Schedules</h1>
<table>
  <thead>
  </thead>
    <tr>
      <th> Start Date </th>
    </tr>
  </tbody>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= link_to schedule.start_date, schedule%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p> <%= link_to 'Create a new schedule', new_schedule_path %> </p>

