<h1>Listed Schedules</h1>
<table>
  <thead>
  </thead>
    <tr>
      <th> Start Date </th>
      <th> End Date </th>
    </tr>
  </tbody>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%=schedule.start_date %></td>
      <td><%=schedule.end_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>

