<h1>Editing Ingredient</h1>

<%= render 'form', ingredient: @ingredient %>

<%= render(CounterComponent.new) %>
<%# render(IngredientSelectComponent.new(data: {reflex: "change->IngredientSelectComponent#update_select_options"})) %>

<%= link_to 'Show', @ingredient %> |
<%= link_to 'Back', ingredients_path %>
