<% provide :title, "Edit Meal" %>
<h2 class="subtitle is-2">Editing Meal</h2>

<%= render 'form', meal: @meal %>

<%= render(ManageMealIngredientsComponent.new(@meal, current_user)) %>

<%= link_to 'Show', @meal %> |
<%= link_to 'Back', meals_path %>
